<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Access denied</title>
</head>

<body>

	<h2>Sorry, you don't have access to this page!</h2>

	<hr>
	
	<a th:href="@{/}">Return back</a>
	
</body>

</html>